<div class="login-wrapper login-background">
    <div class="login-card">
      <div class="login-header">
        <span class="nba-dot"></span>
        <h1>Crear cuenta</h1>
        <p>Sumate a la NBA App y seguí la liga en tiempo real</p>
      </div>
  
      <form [formGroup]="form">
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="usuario@nba.com"
            formControlName="email"
          />
        </div>
  
        <div class="form-group">
          <label>Contraseña</label>
          <input
            type="password"
            class="form-control"
            placeholder="••••••••"
            formControlName="password"
          />
        </div>
  
      
  
        <button type="button" (click)="submit()" class="btn-login" [disabled]="loading()">
          @if (loading()) {
            <span class="btn-spinner"></span>
            <span>Creando cuenta...</span>
          } @else {
            <span>Crear cuenta</span>
          }
        </button>
        <div class="login-register">
            <span>¿Ya tenés cuenta?</span>
            <a routerLink="/auth/login">Ingresá acá</a>
          </div>
      </form>
      <div class="login-footer">
        <span>🏀 Powered by NBA data</span>
      </div>
    </div>
  </div>
  